<h1>Welcome</h1>
<p>Welcome to StoryBooks</p>
<p>Post Stories from the best and worst of your life. Make it your personal diary or share them with the whole world.</p>
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>